body {
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    font-size: 20px;
    color: white;
}

div {
    line-height: 3em;
}

h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.div {
    margin-left: 22%;
    text-align: center;
    width: 50%;
    background-color: rgb(19, 19, 19);
    padding: 4em;
    border-radius: 20px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.alteracao {
    background-color: rgb(19, 19, 19);
    padding: 10em;
    margin-top: 4em;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    border-radius: 25px;
}

.cliente {
    background-color: rgb(19, 19, 19);
    padding: 10em;
    margin-top: 4em;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    border-radius: 25px;
}

#voltarButton{
    margin-left: -60em;
    margin-top: -15em;
}