body {
    background-color: rgb(44, 44, 44);
    text-align: center;
    margin: 1em;
    font-size: 20px;
}

div {   
    line-height: 3em;
}

table, th, td, tr {
    border: 1px solid black;
}

.div {
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 4em;
    border-radius: 20px;
}

.conteudo {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
}

#voltarButton {
    float: left;
    margin: 1em;
    border: 1px solid grey;
}