body {
    background-color: rgb(44, 44, 44);
    text-align: center;
    margin: 1em;
    font-size: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid #0066cc;
    margin-top: 2.02em;
    outline: none;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: none;
    border-bottom: 2px solid #0066cc;
    outline: none;
}

input[type=checkbox] {
    margin-top: 2em;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
}

div {
    line-height: 3em;
}

table, th, td {
    border: 1px solid black;
}

.div {
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 4em;
    border-radius: 20px;
}

.conteudo {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 0;
}

.check:active, .check:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.check:checked::after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -20px;
    left: 0px;
    color: #99a1a7;
}

#voltarButton {
    float: left;
    margin: 1em;
    border: 2px solid black;
}
